@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

:root{
    --black:#000;
    --dark:#1f1f1f;
    --grey:#7d7d7d;
    --light:#EEEEEE;
    --white:#FFF;
    --blue: #469bc9;
    --blue-dark: #297198;
    --blue-light: #7aafcb;
    --red: #FF4B03;
    --yellow: #e4d89c;
    --green: #8CFF00;
    --ease: 0.3s ease;    
}

/* Instructor */

#penguin-container {
    position: fixed;
    bottom: -3px;
    left: -2px;
    display: flex;
    align-items: center;
  }
  
  #speech-bubble {
    margin-left: 8px;
    padding: 8px;
    max-width: 360px;
    background: var(--white);
    border: 3px solid var(--black);
    font-size: 1rem;
    color: var(--black);
    position: relative;
  }
  
  #speech-bubble:after {
    content: '';
    position: absolute;
    top: 50%;
    left: -15px;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #f0f0f0 transparent transparent;
  }  

/* Reset */

*{
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    background: none;
    appearance: none;
    font-family: "JetBrains Mono", monospace;
}

body{
    min-height: 100dvh;

    &.blue{
        background-color: var(--blue);
    }
}

@keyframes appear{
    0%{
        scale: 0.5;
        opacity: 0;
        transform: perspective(5000px) rotateY(0) rotateX(0);
        border-color: var(--blue-light);
        filter: contrast(0.5);
    }70%{
        scale: 1.05;
        opacity: 1;
        transform: perspective(5000px) rotateY(0) rotateX(0);
        border-color: var(--blue-light);
        box-shadow: rgba(255, 255, 255, 0) 0px 8px 24px;
        filter: contrast(0.5);
    }72%{
        scale: 1;
        opacity: 1;
        transform: perspective(5000px) rotateY(0) rotateX(0);
        border-color: #9bcae3;
        box-shadow: rgba(255, 255, 255, 0.2) 0px 8px 24px;
        filter: contrast(1);
    }90%{
        scale: 1;
        opacity: 1;
        transform: perspective(5000px) rotateY(0) rotateX(0);
        border-color: #9bcae3;
        box-shadow: rgba(255, 255, 255, 0) 0px 8px 24px;
    }100%{
        scale: 1;
        opacity: 1;
        transform: perspective(5000px) rotateY(var(--rotateX)) rotateX(var(--rotateY));
        border-color: var(--blue-light);
    }
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;
    max-width: 90%;
    width: 800px;
    padding: 128px 0;
    margin: 0 auto;

    .cards{
        display: flex;
        gap: 48px;

        .card{
            width: 180px;
            height: 320px;
            border-radius: 8px;
            background-color: var(--blue);
            border: 5px solid var(--blue-light);
            transform: perspective(5000px) rotateY(var(--rotateX)) rotateX(var(--rotateY));
            position: relative;
            animation: appear 3s;
            transition: ease 0.1s;

            &::after{
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                z-index: 1;
                width: 100%;
                height: 200px;
                background: linear-gradient(15deg, rgba(70,155,201,1) 0%, rgba(70,155,201,0) 70%);
            }

            img{
                object-fit: cover;
                width: 100%;
                height: 100%;
                border-radius: 3px;
            }

            .name{
                z-index: 2;
                position: absolute;
                width: 100%;
                height: fit-content;
                bottom: 0;
                left: 0;
                padding: 16px;
                color: var(--white);
                font-weight: 900;
                font-style: italic;
            }
        }
    }
}

/* Form */

form.form{
    width: 400px;
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 24px;

    .field{
        display: flex;
        flex-direction: column;

        input{
            height: fit-content;
            width: 100%;
            padding: 8px 0;
            border-radius: 0;
            color: var(--white);
            border: 0;
            border-bottom: 1px solid var(--white);
            outline: none;
            font-size: 1.5rem;
            font-weight: 900;
            font-style: italic;
            transition: var(--ease);

            &::placeholder{
                color: rgba(255, 255, 255, 0.5);
            }
        }
    }

    button[type="submit"]{
        width: 100%;
        padding: 12px ;
        height: fit-content;
        border-radius: 0;
        background-color: var(--white);
        color: var(--black);
        font-weight: 900;
        font-size: 1.25rem;
        font-style: italic;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        cursor: pointer;
        user-select: none;
        outline:none;
        transition: var(--ease);

        &:disabled{
            color: var(--grey);
            cursor:not-allowed;
        }
    }
}

.button{
    width: fit-content;
    padding: 12px 24px;
    height: fit-content;
    border-radius: 0;
    background-color: var(--white);
    color: var(--black);
    font-weight: 900;
    font-size: 1.25rem;
    font-style: italic;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    user-select: none;
    outline:none;
    text-decoration: none;
    transition: var(--ease);
}

/* Captcha */

.captcha-plus-text{
    font-size: 1.5rem;
    color: var(--white);
    -webkit-text-stroke: 3px var(--black) ;
    font-weight: 900;
    paint-order: stroke fill;
    filter: drop-shadow(-1px 1px 0 var(--blue-dark));
    text-align: center;
    transform: translateY(-30px);
    animation: fly 2s ease-out;
}

@keyframes fly {
    0%{
        opacity: 1;
        transform: translateY(-30px);
    }100%{
        opacity: 0;
        transform: translateY(-80px) scale(0.6);
    }
}

@keyframes reversed {
    0%{
        transform: scaleX(1) ;
        filter: invert(0);
    }90%{
        transform: scaleX(1) ;
        filter: invert(0);
    }91%{
        transform: scaleX(-1) ;
        filter: invert(1);
    }99%{
        transform: scaleX(-1) ;
        filter: invert(1);
    }100%{
        transform: scaleX(1) ;
        filter: invert(0);
    }
}

@keyframes order-1 {
    0%{
        order: 0 ;
    }90%{
        order: 0 ;
    }91%{
        order: 2 ;
    }99%{
        order: 2 ;
    }100%{
        order: 0 ;
    }
}

.captcha-form-button{
    width: 100%;
    height: 48px;
    border-radius: 0;
    background-color: transparent;
    background-image: url(./img/thesmellofcaptcha.webp);
    background-size: 48px;
    background-repeat: no-repeat;
    background-position: 100%;
    border: none;
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 8px 0;
    cursor: pointer;
    outline: none;
    user-select: none;
    color: var(--white);
    transition: var(--ease);

    &.completed{
        .captcha-form-checkbox{
            background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 13L9 17L19 7' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
        }
    }

    .captcha-form-checkbox{
        width: 24px;
        height: 24px;
        border-radius: 0;
        background-color: transparent;
        border: 1px solid var(--white);
        background-position: center;
        background-repeat: no-repeat;
        transition: var(--ease);
    }

    .captcha-form-text{
        color: var(--white);
        font-style: italic;
    }
}

.captcha-wrapper{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px;
    visibility: hidden;
    opacity: 0;
    transition: opacity var(--ease);

    &.show{
        visibility: visible;
        opacity: 1;
    }

    *{
        user-select: none;
    }

    .captcha-background{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }

    .captcha-popup{
        position: relative;
        margin: 0 auto;
        max-width: 1240px;
        width: 100%;
        height: 100%;
        border: 3px solid var(--black);
        background-color: var(--blue);
        background-image: url(./img/background.webp);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25), inset 16px -16px rgba(0, 0, 0, 0.25);
        padding: 32px 64px 32px;
        display: flex;
        flex-direction: column;
        gap: 32px;
        animation: reversed 100s infinite;
        transition: var(--ease);

        &:has(>.captcha-wrapper-content>.captcha-wrapper-shop>.captcha-button-finish.dragging){
            scale: 0.9;
        }

        .captcha-title-1{
            font-size: 2rem;
            color: var(--yellow);
            -webkit-text-stroke: 3px var(--black) ;
            text-transform: uppercase;
            font-weight: 900;
            paint-order: stroke fill;
            filter: drop-shadow(-1px 1px 0 var(--blue-dark));
            text-align: center;
        }

        .captcha-title-2{
            font-size: 1.5rem;
            color: var(--white);
            -webkit-text-stroke: 3px var(--black) ;
            font-weight: 900;
            paint-order: stroke fill;
            filter: drop-shadow(-1px 1px 0 var(--blue-dark));
            text-align: center;
        }

        .captcha-title-3{
            font-size: 1.125rem;
            font-weight: 700;
            color: var(--white);
        }

        .captcha-text{
            font-size: 1rem;
            color: var(--white);
        }

        .captcha-wrapper-close{
            position: absolute;
            right: -16px;
            top: -16px;

            &:hover{
                .captcha-close{
                    transform: translateX(-200%);
                }
            }

            .captcha-close{
                cursor: pointer;
                width: 48px;
                height: 48px;
                border: 3px solid var(--black);
                background-color: var(--red);
                box-shadow: inset 8px -8px rgba(0, 0, 0, 0.25);
                background-image: url("data:image/svg+xml,%3Csvg width='34' height='34' viewBox='0 0 34 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='7.10046' y='9.92892' width='4' height='24' transform='rotate(-45 7.10046 9.92892)' fill='black'/%3E%3Crect x='7.10046' y='24.0711' width='24' height='4' transform='rotate(-45 7.10046 24.0711)' fill='black'/%3E%3C/svg%3E%0A");
                background-repeat: no-repeat;
                background-position: 8px 1px;
    
                &:active{
                    box-shadow: inset 4px -4px rgba(0, 0, 0, 0.25);
                    background-position: 6px 2px;
                    scale: 96%;
                    right: -14px;
                    top: -14px;
                }
            }
        }

        .captcha-wrapper-title{
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .captcha-wrapper-content{
            display: flex;
            width: 100%;
            height: 100%;
            gap: 32px;

            .captcha-wrapper-game{
                border: 3px solid var(--black);
                background-color: var(--blue);
                box-shadow: inset 8px -8px rgba(0, 0, 0, 0.25);
                width: 100%;
                height: calc(100% - 96px);
                min-height: calc(100% - 96px);
                padding: 24px;
                display: flex;
                flex-direction: column;
                align-items: center;
                cursor: url(./img/cursor.png) 36 36, auto;

                .captcha-wrapper-score{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }

                .captcha-wrapper-click{
                    margin: auto;
                    transition: cubic-bezier(.43,1.95,.3,1) 0.3s;

                    &:active{
                        transform: scale(0.96);
                    }

                    &:hover:not(:active){
                        transform: scale(1.04);
                    }

                    .captcha-clickable{
                        width: fit-content;
                        height: 256px;
                        object-fit: contain;
                        -webkit-user-drag: none;
                    }
                }
            }

            .captcha-wrapper-shop{
                border: 3px solid var(--black);
                background-color: var(--blue);
                box-shadow: inset 8px -8px rgba(0, 0, 0, 0.25);
                width: 381px;
                min-width: 381px;
                height: calc(100% - 96px);
                min-height: calc(100% - 96px);
                padding: 24px;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 24px;

                .captcha-wrapper-improvements{
                    width: 100%;
                    min-height: 48px;
                    height: 48px;
                    display: flex;
                    flex-wrap: nowrap;
                    gap: 8px;
                    overflow-x: hidden;

                    .captcha-button-improvement{
                        width: 48px;
                        min-width: 48px;
                        height: 48px;
                        border: 3px solid var(--black);
                        background-color: var(--blue);
                        cursor: pointer;
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: 90%;

                        &:hover{
                            transform: translate(1px, -1px);
                            filter: drop-shadow(-1px 1px 0 var(--blue-dark));
                        }

                        &:disabled{
                            opacity: 0.5;
                        }

                        &:active:not(:disabled){
                            transform: translate(0px, 0px);
                            filter: drop-shadow(0px 0px 0 var(--blue-dark));
                            background-color: var(--blue-light);
                        }

                        &.hide{
                            display: none;
                        }
                    }
                }

                .captcha-wrapper-items{
                    width: 100%;
                    height: 100%;
                    overflow-y: scroll;
                    scrollbar-width: none;
                    scrollbar-color: transparent;
                    -ms-overflow-style: none;
                    display: flex;
                    flex-direction: column;
                    border: 3px solid var(--black);
                    scroll-snap-type: y mandatory;

                    &::-webkit-scrollbar {
                        display: none;
                    }

                    .captcha-button-item{
                        width: 100%;
                        height: fit-content;
                        padding: 10px 24px 14px 72px;
                        border-bottom: 3px solid var(--black);
                        background-color: var(--blue);
                        background-repeat: no-repeat;
                        background-position: 12px 8px;
                        box-shadow: inset 8px -8px rgba(0, 0, 0, 0.25);
                        display: flex;
                        flex-direction: column;
                        cursor: pointer;
                        scroll-snap-align: start;
                        position: relative;
                        visibility: hidden;
                        opacity: 0;
                        transition: opacity var(--ease);

                        .captcha-title-3{
                            text-align: left;
                            visibility: hidden;

                            &::before{
                                content: "???";
                                visibility: hidden;
                            }
                        }

                        .captcha-text{
                            color: var(--green);
                        }

                        &.show-item{
                            visibility: visible;
                            opacity: 1;

                            .captcha-title-3{
                                &::before{
                                    visibility: visible;
                                }
                            }
                        }

                        &.show-content{
                            .captcha-title-3{
                                visibility: visible;

                                &::before{
                                    content: "";
                                }
                            }
                        }

                        &:first-child{
                            animation: order-1 100s infinite;
                        }

                        &:nth-child(3n){
                            animation: order-1 100s infinite;
                        }

                        &:last-child{
                            border-bottom: none;
                        }

                        &:disabled{
                            background-color: var(--blue-dark);
                            opacity: 0.5;

                            .captcha-text{
                                color: var(--red);
                            }
                        }

                        &:active:not(:disabled){
                            box-shadow: inset 4px -4px rgba(0, 0, 0, 0.25);
                            padding: 12px 22px 12px 70px;
                            background-position: 11px 9px;
                            background-color: var(--blue-light);
                        }

                        #number{
                            position: absolute;
                            right: 16px;
                            top: 6px;
                            font-size: 2.5em;
                            font-weight: 900;
                            color: var(--blue-light);
                            visibility: hidden;
                            opacity: 0;
                            transition: var(--ease);

                            &.show{
                                visibility: visible;
                                opacity: 1;
                            }
                        }
                    }
                }

                .captcha-button-finish{
                    width: 100%;
                    height: fit-content;
                    background-color: var(--green);
                    padding: 16px 24px 20px;
                    border: 3px solid var(--black);
                    box-shadow: inset 8px -8px rgba(0, 0, 0, 0.25);
                    font-weight: 700;
                    font-size: 1rem;
                    cursor: pointer;

                    &:disabled{
                        opacity: 0.5;
                    }

                    &:active:not(:disabled){
                        box-shadow: inset 4px -4px rgba(0, 0, 0, 0.25);
                        padding: 18px 24px 18px 22px;
                        color: var(--black);
                    }

                    &.dragging{
                        opacity: 1;
                        color: var(--black);
                    }
                }
            }
        }
    }
}


